<!DOCTYPE html>
<html>
  <head>
    <title>MeuProjeto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link active" %></li>
        <li class="nav-item"><%= link_to "Moedas", coins_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Tipos de mineração", mining_types_path, class: "nav-link" %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
